@font-face {
  font-family: OldEnglish;
  src: url("./OLDENGL.TTF");
}

html {
  overflow-x: hidden;
}

h1 {
  font-family: OldEnglish;
}

.over {
  height: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  min-height: 10px;
  object-fit: cover;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* background-color: black; */
}

.over img {
  object-fit: contain;
  align-items: flex-end;
  object-position: bottom;
  height: 30vh;
  width: 100%;
  max-width: 1000px;
}

.custom-card {
  text-align: left;
  width: 100%;
  max-width: 500px;
  margin-top: 70vh;
  flex-wrap: wrap;
}

.custom-card p {
  width: auto;
  min-width: 200px;
}

.side {
  width: 46% !important;
  margin-bottom: 0;
}

.cardImg {
  max-height: 80vh;
  max-width: 90vw;
  width: 40%;
  height: auto;
  object-fit: contain;
  align-self: center;
  justify-self: center;
  text-align: center;
  min-width: 200px;
}

.cardImg:hover {
  cursor: pointer;
}

.header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
  width: 100%;
  padding: 1rem;
  top: 0;
  transition: all 1s;
  z-index: 1000;
}

.header h1 {
  transition: all 1s;
}

.header *:hover {
  cursor: pointer;
}

.header-main {
  transform: translateY(47vh);
  transition: all 1s;
}

.header-main *:hover {
  cursor: pointer;
}

.header-main h1 {
  font-size: 300%;
  transition: all 1s;
}

.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.page {
  padding: 10rem 10rem 10rem 10rem;
  margin-top: 25vh;
  /* height: 200vh; */
  /* background-color: blue; */
  width: 100%;
  min-width: 550px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.sources {
  padding: 10rem;
  margin-top: 5vh;
  width: 100%;
  min-width: 550px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  overflow-x: hidden;
  /* word-break: keep-all; */
  /* word-wrap: break-word; */
  overflow-wrap: break-word;
}

.sources p {
  padding-left: 44px ;
  text-indent: -44px ;
}

.page:last-child {
  /* margin-bottom: 85vh; */
  /* margin-bottom: 0; */
  /* opacity: 1 !important; */
  /* background-color: black; */
  
}

.focusedImage {
  position: fixed;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  object-fit: contain;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  background-color: rgba(0, 0, 0, 0.13);
}

.focusedImage:hover {
  cursor: pointer;
}

.focusedImage img {
  object-fit: contain;
  max-height: 80%;
  max-width: 80%;
}

.focusedImage img:hover {
  cursor: default;
}

.mainBack {
  width: 100%;
  height: 100vh;
  background-color: rgb(78, 108, 116);
  color: rgb(235, 235, 235);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.back {
  padding: 4% 30%;
  height: auto;
  background-color: rgb(78, 108, 116);
  color: rgb(235, 235, 235);
  display: block;
  justify-content: center;
  align-items: center;
}

.flashing {
  font-weight: 900;
  font-size: 200rem;
  animation: flash 1s infinite;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-device-width: 600px) {
  html {
    font-size: 300%;
    /* background-color: black; */
  }

  .custom-card {
    width: 100%;
    max-width: 100%;
    overflow-wrap: normal;
    flex-wrap: wrap;
  }

  .page {
    padding: 1rem 1rem 0 1rem;
    width: 100vw;
  }
  .cardImg {
    width: 100% !important;
  }

  .header {
    /* background-color: black; */
  }

  .side {
    width: 100% !important;
  }
}
